EMAIL_PASS = "..."
DB_NAME = "bgtHub"
DB_PASS = "..."
SESSION_SECRET="e8b7d3c05a9f1c3b8a2e4fd812e0b18b2b5d6e1d6a3a4b5d7e8f9a1c2b3d4e5f"
DB_USER = "..."
DB_PORT = 5432
EMAIL_USER = "..."
EMAIL_SERVICE = "gmail"
UPLOAD_PATH = '/home/gianluca/BgtHub/uploads' 
PORT = 5000