.box{
    margin-top: 32px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    background-color:#ffffff ;
    color: black;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid black;
    box-shadow: 8px 8px black ;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width:600px) and (max-width:900px) {
    .box{
    width: 70%;

    padding: 24px;
}
}
