#authorArticle{
    width:75%;
 position: relative;
    margin-left: 15% ;
    margin-right: 15%;
    padding: 5%;
  color:inherit;
}
@media only screen and (min-width:600px) and (max-width:900px) {
    #authorArticle{
    width: 70%;
    margin-left: 15% ;
    margin-right: 15%;

}
}

@media only screen and (min-width:900px){
    #authorArticle {
        width:60%;
        margin-left:20%;
        margin-right: 20%;
       
       
        

    }}