.projekt-banner{
    background-image: url('../../../../assets/projekt-wallpaper.jpg');
    background-repeat: no-repeat;
        height: 80px;
    align-content: center;
    background-size:cover;
    border-radius: 16px 16px 0 0 ;
    background-position: 0px 50%;
    color: white;
    font-weight: bold;
}
#projekt-box{
    padding:0;
    
}
.projekt-text{
    padding: 16px;
    line-height: 1.2;
    text-align: left;

}
#banner-title{
    font-weight:800;
    color:black;

}
p{
    margin-bottom: 8px;
}
 @media only screen and (min-width:900px){
    #projekt-box{
        width: 60%;
    }
    .projekt-text{
        padding: 24px;
    }
    .projekt-banner{
        height:140px
    }
    #banner-title{
        font-size: 28px;
    }

}
@media only screen and (min-width:600px) and (max-width:900px){
   .projekt-banner{
        height:100px
    } 
}