#open{
   margin: 0 auto;
    margin-top: 2rem;
    width: 85%;
      
}
h1{
    font-size: x-large;
}
p{
    font-size: medium;
}
@media only screen and (min-width:600px) and (max-width:900px) {
    #open{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width:900px){
    #open{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}