.dev-status{
    display: flex;
    align-items: center;
    gap: 6px;
    color: red;
    font-size: smaller;
}
.red-point{
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: red;
}
.credits{
    
    font-size: small;
    margin-top: 8px;
    margin-bottom: 8px;
}
.color-mode{
    background-color: transparent;
    border: 1px solid #ececec;

    border-radius: 8px;
    height: 2rem;
    width: 2rem;
    margin-top: 12px;
    padding: 0;

}
.mode-icon{
    margin: auto auto;
    height: 60%;

    width:60%;

}
