
.left-btn{
    background-color: #b2b2b2;
    position: absolute;
    
    z-index: 10;
    height: 48px;
    width: 16px;
    border: 16px;
    border-radius: 4px;
    opacity: 0.8;
    box-sizing: border-box;

  display: block;
  flex: 0 0 auto; /* falls Parent Flexbox ist */
    padding: 0;
        top:50%;
    transform: translateY(-50%) translateX(50%);
    left: 0%;
}

.line{
    position:absolute;
    width: 2px;
    height: 14px;
    background-color: white;

}

.line.left-top{
    transform: rotate(155deg);
    margin-left: 8px;
    
    top:12px;
}
.line.left-bottom{
    transform: rotate(-155deg);
      margin-left: 8px;
}
@media only screen and (min-width:600px) and (max-width:900px) {
    .left-btn{
        left: 10%;
    }
}
@media only screen and (min-width:900px){
    .left-btn{
        left:15%
    }
}