#impressumDatenschutz{
     display: flex;
     flex-direction: column;
    width:80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#datenschutz ul {
    list-style-position: inside;
    padding-left: 0; 
}
#datenschutz{
    margin:0;
}
@media only screen and (min-width:600px) and (max-width:900px) {
    #impressumDatenschutz{
    width: 70%;
    
}
}
@media only screen and (min-width:900px){
    #impressumDatenschutz {
        width: 60%;

        

    }}